<!-- Password Tab -->
<div class="tab-pane fade in active" id="tab-bd-settings-general">
    <div class="row items-push">
        <div class="col-sm-6 col-sm-offset-3 form-horizontal">
          <div class="form-group">
              <div class="col-xs-12">
                  <label for="bd-settings-password-new">New Password</label>
                  <input class="form-control input-lg" type="password" id="bd-settings-password-new" name="bd-settings-password-new" ng-model="updateUser.newPassword">
              </div>
          </div>
          <div class="form-group">
              <div class="col-xs-12">
                  <label for="bd-settings-password-new-confirm">Confirm New Password</label>
                  <input class="form-control input-lg" type="password" id="bd-settings-password-new-confirm" name="bd-settings-password-new-confirm" ng-model="updateUser.confirmNewPassword">
              </div>
          </div>
        </div>
    </div>
</div>
<!-- END password tab -->
