<div class="bg-primary-lighter">
    <section class="content content-full content-boxed overflow-hidden">
        <div class="content narrow-content">
            <div class="row items-push">
                <div class="col-sm-4">
                    <h1 class="h1 font-w300 animated fadeInDown push-50-t push-5">Dashboard</h1>
                    <h2 class="h4 font-w300 animated fadeInUp">Welcome {{username}}</h2>
                </div>
                <div class="col-sm-8">
                    <blockquote>
                        <p>Be yourself; everyone else is already taken.</p>
                        <footer>Oscar Wilde</footer>
                    </blockquote>
                    <div class="block-header">
                        <h3 class="block-title">Progress</h3>
                    </div>
                    <div class="block-content">
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:50%">50%</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- Stats -->
<div class="content bg-white border-b">
    <h2 class="font-w300 text-center">Forms</h2>
    <br>
    <div class="row items-push text-uppercase" ng-show="user.userType==='content' || user.userType==='admin'">
        <div class="col-xs-6 col-sm-3">
            <div class="block">
                <div class="img-container">
                    <img class="img-responsive" src="assets/img/photos/photo2.jpg" alt="">
                    <div class="img-options">
                        <div class="img-options-content">
                            <div class="push-20">
                                <a class="btn btn-sm btn-default" ui-sref="bmform({formID:'1FAIpQLSc-bm6zh8ZLhtm0A5ErGKJ_upH9KHOuB1jYjcx-gvUwgk_-rA'})"><i class="fa fa-eye"></i> View</a>
                                <a class="btn btn-sm btn-default" href="javascript:void(0)">
                      <i class="fa fa-download"></i> Download
                    </a>
                            </div>
                            <div class="text-warning">
                                <span class="text-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="block">
                <div class="img-container">
                    <img class="img-responsive" src="assets/img/photos/photo2.jpg" alt="">
                    <div class="img-options">
                        <div class="img-options-content">
                            <div class="push-20">                            
                                <a class="btn btn-sm btn-default" ui-sref="bmform({formID:'1FAIpQLSfMtW3IVDX5iLBqa4LA8zrBfOl4dlJDQQk_atKjAWevHWSvRQ'})"><i class="fa fa-eye"></i> View</a>
                                <a class="btn btn-sm btn-default" href="javascript:void(0)">
                      <i class="fa fa-download"></i> Download
                    </a>
                            </div>
                            <div class="text-warning">
                                <span class="text-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="block">
                <div class="img-container">
                    <img class="img-responsive" src="assets/img/photos/photo2.jpg" alt="">
                    <div class="img-options">
                        <div class="img-options-content">
                            <div class="push-20">
                                <a class="btn btn-sm btn-default" ui-sref="bmform"><i class="fa fa-eye"></i> View</a>
                                <a class="btn btn-sm btn-default" href="javascript:void(0)">
                      <i class="fa fa-download"></i> Download
                    </a>
                            </div>
                            <div class="text-warning">
                                <span class="text-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="block">
                <div class="img-container">
                    <img class="img-responsive" src="assets/img/photos/photo2.jpg" alt="">
                    <div class="img-options">
                        <div class="img-options-content">
                            <div class="push-20">
                                <a class="btn btn-sm btn-default" ui-sref="bmform"><i class="fa fa-eye"></i> View</a>
                                <a class="btn btn-sm btn-default" href="javascript:void(0)">
                      <i class="fa fa-download"></i> Download
                    </a>
                            </div>
                            <div class="text-warning">
                                <span class="text-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row items-push text-uppercase" ng-show="user.userType==='operations' || user.userType==='admin'">
        <div class="col-xs-6 col-sm-3">
            <div class="block">
                <div class="img-container">
                    <img class="img-responsive" src="assets/img/photos/photo3.jpg" alt="">
                    <div class="img-options">
                        <div class="img-options-content">
                            <div class="push-20">
                                <a class="btn btn-sm btn-default" ui-sref="bmform({formID:'1FAIpQLSc-bm6zh8ZLhtm0A5ErGKJ_upH9KHOuB1jYjcx-gvUwgk_-rA'})"><i class="fa fa-eye"></i> View</a>
                                <a class="btn btn-sm btn-default" href="javascript:void(0)">
                      <i class="fa fa-download"></i> Download
                    </a>
                            </div>
                            <div class="text-warning">
                                <span class="text-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="block">
                <div class="img-container">
                    <img class="img-responsive" src="assets/img/photos/photo3.jpg" alt="">
                    <div class="img-options">
                        <div class="img-options-content">
                            <div class="push-20">                            
                                <a class="btn btn-sm btn-default" ui-sref="bmform({formID:'1FAIpQLSfMtW3IVDX5iLBqa4LA8zrBfOl4dlJDQQk_atKjAWevHWSvRQ'})"><i class="fa fa-eye"></i> View</a>
                                <a class="btn btn-sm btn-default" href="javascript:void(0)">
                      <i class="fa fa-download"></i> Download
                    </a>
                            </div>
                            <div class="text-warning">
                                <span class="text-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="block">
                <div class="img-container">
                    <img class="img-responsive" src="assets/img/photos/photo3.jpg" alt="">
                    <div class="img-options">
                        <div class="img-options-content">
                            <div class="push-20">
                                <a class="btn btn-sm btn-default" ui-sref="bmform"><i class="fa fa-eye"></i> View</a>
                                <a class="btn btn-sm btn-default" href="javascript:void(0)">
                      <i class="fa fa-download"></i> Download
                    </a>
                            </div>
                            <div class="text-warning">
                                <span class="text-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="block">
                <div class="img-container">
                    <img class="img-responsive" src="assets/img/photos/photo3.jpg" alt="">
                    <div class="img-options">
                        <div class="img-options-content">
                            <div class="push-20">
                                <a class="btn btn-sm btn-default" ui-sref="bmform"><i class="fa fa-eye"></i> View</a>
                                <a class="btn btn-sm btn-default" href="javascript:void(0)">
                      <i class="fa fa-download"></i> Download
                    </a>
                            </div>
                            <div class="text-warning">
                                <span class="text-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END Stats -->
<!-- Page Content -->
<div class="content">
    <div class="row">
        <div class="col-lg-12">
            <!-- Main Dashboard Chart -->
            <div class="block">
                <div class="block-content text-center">
                    <div class="row items-push text-center">
                        <div class="col-xs-6 col-lg-3">
                            <div class="push-10"><i class="si si-graph fa-2x"></i></div>
                            <div class="h5 font-w300 text-muted">+ 205 Sales</div>
                        </div>
                        <div class="col-xs-6 col-lg-3">
                            <div class="push-10"><i class="si si-users fa-2x"></i></div>
                            <div class="h5 font-w300 text-muted">+ 25% Clients</div>
                        </div>
                        <div class="col-xs-6 col-lg-3 visible-lg">
                            <div class="push-10"><i class="si si-star fa-2x"></i></div>
                            <div class="h5 font-w300 text-muted">+ 10 Ratings</div>
                        </div>
                        <div class="col-xs-6 col-lg-3 visible-lg">
                            <div class="push-10"><i class="si si-share fa-2x"></i></div>
                            <div class="h5 font-w300 text-muted">+ 35 Followers</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END Main Dashboard Chart -->
        </div>
    </div>
</div>
<!-- END Page Content -->