<main id="main-container" style="min-height: 536px;">
  <!-- Classic Features #1 -->
  <div class="bg-white">
      <section class="content content-boxed">
          <!-- Section Content -->
          <div class="row items-push-3x push-50-t nice-copy">
            <div class="col-sm-9">
              <div class="text-center block-content block-content-full clearfix push-30">
                    <h2>New Member Registration</h2>
              </div>
              <h4 class="push-50 text-center font-w600">Some Text here about this page?</h4>

              <div class="block-content block-content-full clearfix push-30">
                    <section class="content content-boxed">
                      <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScObWeT4ddkZWE1HHSY3LuvzW43S5saPX2mSNmkozoBG4I6-A/viewform?embedded=true" width="760" height="800" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
                    </section>
              </div>
            </div>
            <div class="col-sm-3">
                <div class="push-30">
                  <div class="block block-themed">
                    <div class="block-header bg-primary">
                      <h3 class="block-title">Helpful Links</h3>
                    </div>
                    <div class="block-content border">
                      <div class="block-content">
                        <div>
                          <ul class="list-group">
                            <li class="list-group-item node-" data-nodeid="0">
                              <a ui-sref="home" class="icon node-icon" href="#">Home</a>
                            <li class="list-group-item node-" data-nodeid="1">
                              <a ui-sref="aboutUs" class="icon node-icon" href="#">About Us</a>
                            </li>
                            <li class="list-group-item node-" data-nodeid="1">
                              <a ui-sref="serviceCalendar" class="icon node-icon" href="#">Service Calendar</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
          <!-- END Section Content -->
      </section>
  </div>
  <!-- END Classic Features #1 -->
</main>
