<!-- Sidebar Scroll Container -->
<div id="sidebar-scroll">
    <!-- Sidebar Content -->
    <!-- Adding .sidebar-mini-hide to an element will hide it when the sidebar is in mini mode -->
    <div class="sidebar-content">
        <!-- Side Header -->
        <div class="side-header side-content bg-white-op">
            <button class="btn btn-link text-gray pull-right hidden-md hidden-lg" type="button" data-ng-click="oneui.settings.sidebarOpenXs = false" data-js-blur>
                <i class="fa fa-times"></i>
            </button>
            <a class="h5 text-white" data-ui-sref="dashboard" data-js-blur>
                <i class="fa fa-circle-o-notch text-primary"></i> <span class="h4 font-w600 sidebar-mini-hide">FreshCup</span>
            </a>
        </div>
        <!-- END Side Header -->

        <!-- Side Content -->
        <div class="side-content">
            <!-- Main navigation functionality (data-js-main-nav attribute is initialized in js/directives.js) -->
            <ul class="nav-main" data-js-main-nav>
                <li>
                    <a ui-sref="dashboard" data-ui-sref-active="active">
                        <i class="si si-speedometer"></i><span class="sidebar-mini-hide">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a ui-sref="usersList"><i class="si si-badge"></i><span class="sidebar-mini-hide">Users</span></a>
                </li>
                <li class="nav-main-heading"><span class="sidebar-mini-hide">Inventory</span></li>
                <li data-ng-class="{open: (path.indexOf('/ui/') > -1)}">
                    <a class="nav-submenu" data-toggle="nav-submenu" href="#"><i class="si si-badge"></i><span class="sidebar-mini-hide">Link1</span></a>
                    <ul>
                        <li>
                            <a data-ui-sref="uiTabs" data-ui-sref-active="active">Sub-link 1</a>
                        </li>
                        <li>
                            <a data-ui-sref="uiModalsTooltips" data-ui-sref-active="active">Sub-link 2</a>
                        </li>
                        <li>
                            <a data-ui-sref="uiColorThemes" data-ui-sref-active="active">Sub-link 3</a>
                        </li>
                        <li>
                            <a data-ui-sref="uiBlocksDraggable" data-ui-sref-active="active">Sub-link 4</a>
                        </li>
                    </ul>
                </li>
                <li data-ng-class="{open: (path.indexOf('/tables/') > -1)}">
                    <a class="nav-submenu" data-toggle="nav-submenu" href="#"><i class="si si-grid"></i><span class="sidebar-mini-hide">Link2</span></a>
                    <ul>
                        <li>
                            <a data-ui-sref="tablesTools" data-ui-sref-active="active">Sub-link 1</a>
                        </li>
                        <li>
                            <a data-ui-sref="tablesDatatables" data-ui-sref-active="active">Sub-link 2</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-main-heading"><span class="sidebar-mini-hide">Routes</span></li>
                <li>
                    <a data-ui-sref="create" data-ui-sref-active="active">
                        <i class="si si-power"></i><span class="sidebar-mini-hide">Link 1</span>
                    </a>
                </li>
                <li class="nav-main-heading"><span class="sidebar-mini-hide">Financials</span></li>
                <li>
                    <a data-ui-sref="blocks" data-ui-sref-active="active">
                        <i class="si si-frame"></i><span class="sidebar-mini-hide">Link 1</span>
                    </a>
                </li>
                <li>
                    <a data-ui-sref="layout" data-ui-sref-active="active">
                        <i class="si si-magic-wand"></i><span class="sidebar-mini-hide">Link 2</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- END Side Content -->
    </div>
    <!-- Sidebar Content -->
</div>
<!-- END Sidebar Scroll Container -->
